.App {
  text-align: center;
}

html, body, #app, #app>div {
    height: 100%;
}

div#app {
    height: 100%;
    
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.text.container {
    -webkit-font-smoothing: antialiased;
}

i.yellow.icon {
    color: #fed765!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Icon pulse */
.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}



@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
	100% { opacity: 1; }
}



/* Animations */
.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

/* Responsive Branding */


@media only screen and (max-width: 767px) and (min-width: 320px) {
    .hide-on-mobile {
        display: none !important;
    }
    .ui.visible.thin.left.sidebar~.pusher {
        -webkit-transform: translate3d(59px,0,0) !important;
        transform: translate3d(59px,0,0) !important;
    }
}

@media only screen and (min-width: 767px) {
    .hide-on-med-and-up {
        display: none !important;
    }
}


/* Other Customizations */
.ui.visible.thin.left.sidebar~.pusher {
    -webkit-transform: translate3d(101px,0,0);
    transform: translate3d(101px,0,0);
}


.ui.hidden.divider.hide-on-med-and-up.header-divider {
    margin-bottom: 7%;
    background-color: #79868E;
    height: 37px;
    margin-top: 0;
}
.ui.vertical.icon.menu {
  height: 100vh;
  border-radius: 0;
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
}

/* .ui.basic.segment.content-page {
    height: 100vh;
    width: 100vw;
    background-image: url('./img/voidwalker.png');
    background-size: cover;
} */

.ui.text.menu {
    margin-top: 0;
}

.ui.labeled.icon.menu .item {
    min-width: 4em;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ui.container.content-container {
    margin-top: 1%;
    margin-left: 0% !important;
    width: 88%;
}

.ui.segment.pushable {
    /* background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/binding_dark.png"); */
    /* background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/asfalt.png"); */
    /* background-image:  url("./img/arcstrider-dark.png"); */
    background-size: cover;
}

.menu-icon {
    color: #f5f5f5 !important;
    background-color: #79868E !important;
}

h2.ui.header {
    color: #f5f5f5;
}

.ui.circular.segment {
    box-shadow: none;
}

.header-hero {
    /* height: 20vh;
    width: 100vw;
    background-image:  url("./img/site-header.jpg");
    background-size: cover;
    background-position-y: -165px; */
}

.pushable>.pusher {
    background: none;
}
/* i.massive.icon, i.massive.icons {
    line-height: 1;
    vertical-align: text-top !important;
    font-size: 6em;
} */

/* 
.home-tile-icon:hover {
    text-shadow: 0 0 15px #f5f5f5;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
} */