input[type="text"] {
    background: #050B17 !important;
    color: #f5f5f5 !important;    
}

input[type="text"]:focus {
    background: #050B17 !important;
    color: #f5f5f5 !important;    
}

.ui.action.input:not([class*="left action"]) input:focus {
    background: #050B17 !important;
    color: #f5f5f5 !important;
}

.ui.form .field.error .input, .ui.form .field.error label, .ui.form .fields.error .field .input, .ui.form .fields.error .field label {
    color: #E31D3B !important;
}

.ui.form .field.error .ui.dropdown, .ui.form .field.error .ui.dropdown .item, .ui.form .field.error .ui.dropdown .text, .ui.form .fields.error .field .ui.dropdown, .ui.form .fields.error .field .ui.dropdown .item {
    background: transparent;
    color: #E31D3B !important;
}

.slider-frame {
    min-height: 550px;
}

/* .ui.search.selection.dropdown {
    background: transparent;
    border: none;
} */

/* .ui.search.selection.dropdown>input.search {
    border-left: #47D5CF 1px solid !important;
    border-radius: 0px;
} */

.accordion.ui.fluid.styled.game-history .title .dropdown.icon {
    display: none;
}

h3.ui.block.header {
    margin-top: 3px;
}

.ui.text.fireteams-nav.menu {
    margin-bottom: 0;
    margin-top: -25px;
}

.ui.large.statistic>.value, .ui.large.statistics .statistic>.value {
    font-size: 5rem!important;
    color: #f5f5f5;
}

.ui.search.selection.dropdown.fireteam-console-select {
    background: transparent;
    border: none;
    border-left: #47D5CF 1px solid !important;
    border-radius: 0px;
}

.ui.search.dropdown.active>input.search, .ui.search.dropdown.visible>input.search {
    cursor: auto;
    border-radius: 0px;
}

.fireteam-form {
    position: relative;
    top: 235px;
}

.ui.teal.very.padded.center.aligned.segment.fireteam-form-container {
    background: #191919;
    background-image: url(../img/trials-bg4.jpg);
    height: 450px;
    background-size: contain;
    background-position-y: -35px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 235px;
}

.fireteam-form-description {
    color: #f5f5f5;
    font-size: 1.3em; 
    letter-spacing: 5px;
}

i.search.icon {
    color: white;
}

a.ui.basic.icon.inverted.button.fireteam-back-btn {
    -webkit-box-shadow: 0 0 0 0px rgba(255,255,255,.5) inset!important;
    box-shadow: 0 0 0 0px rgba(255,255,255,.5) inset!important;
    position: absolute;
    top: 85%;
    left: -3%;
    transform: translateX(82%) translateY(108%);
}

a.ui.basic.icon.inverted.button.fireteam-back-btn:hover {
    color: #47D5CF !important;
    position: absolute;
    top: 85%;
    left: -3%;
    transform: translateX(82%) translateY(108%);
}

.ui.inverted.yellow.statistic>.value, .ui.inverted.yellow.statistics .statistic>.value, .ui.statistics .inverted.yellow.statistic>.value {
    color: #fed765;
}

.ant-tabs-content.ant-tabs-content-animated {
    padding-left: 5px !important;
}

.ui.label.rainbow-badge { 
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) !important;
    color: white;
}

.ui.label.donator-badge { 
    background: linear-gradient(124deg,rgb(43, 155, 87),  #39CB74,  #b6b5b5, #f5f5f5) !important;
    color: #212121;
    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
    background-size: 1800% 1800% !important;
}

.ui.label.architect-badge { 
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) !important;
    color: white;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
    background-size: 1800% 1800% !important;
}

h2.player-overview-header {
    text-transform: uppercase;
    font-size: 1.2vw;
    letter-spacing: 2px;
}

.ui.disabled.rating .icon {
    color: #DEDEDF;
}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
@media only screen and (max-width: 767px) and (min-width: 320px) {

    .ui.text.fireteams-nav.menu {
        margin-bottom: -30px;
        bottom: 40px;
    }

    a.ui.basic.icon.inverted.button.fireteam-back-btn {
        -webkit-box-shadow: 0 0 0 0px rgba(255,255,255,.5) inset!important;
        box-shadow: 0 0 0 0px rgba(255,255,255,.5) inset!important;
        position: absolute;
        top: 85%;
        left: -3%;
        transform: translateX(30%) translateY(108%);
    }
    
    a.ui.basic.icon.inverted.button.fireteam-back-btn:hover {
        color: #47D5CF !important;
        position: absolute;
        top: 85%;
        left: -3%;
        transform: translateX(30%) translateY(108%);
    }

    .fireteam-form {
        position: relative;
        top: 60px;
    }

    .ui.teal.very.padded.center.aligned.segment.fireteam-form-container {
        height: 400px;
        background-position-y: 0px;
        background-repeat: no-repeat;
        position: relative;
        bottom: 60px;
    }

    .fireteam-form-description {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.text.menu {
        bottom: 17px;
        margin-top: 0 !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fireteam-form {
        position: relative;
        top: 185px;
    }

    .ui.teal.very.padded.center.aligned.segment.fireteam-form-container {    
        background-position-y: -20px;
        position: relative;
        bottom: 185px;
    }
}


@media only screen and (max-width: 1299px) and (min-width: 1200px) { 
    .fireteam-form {
        position: relative;
        top: 235px;
    }

    .ui.teal.very.padded.center.aligned.segment.fireteam-form-container {
        height: 500px;
        background-repeat: no-repeat;
        position: relative;
        bottom: 235px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1799px) {
    .fireteam-form {
        position: relative;
        top: 235px;
    }

    .ui.teal.very.padded.center.aligned.segment.fireteam-form-container {
        height: 500px;
        background-repeat: no-repeat;
        position: relative;
        bottom: 235px;
    }
}

@media only screen and (min-width: 1800px)  {
    .fireteam-form {
        position: relative;
        top: 310px;
    }

    .ui.teal.very.padded.center.aligned.segment.fireteam-form-container {
        height: 500px;
        background-repeat: no-repeat;
        position: relative;
        bottom: 310px;
    }
}