.profile-character-tabs .ant-tabs-nav-container .ant-tabs-nav-wrap {
    text-align: center;
}

.profile-character-tabs .ant-tabs-tab {
    color: #636363;
}

.profile-character-tabs .ant-tabs-tabpane.ant-tabs-tabpane-active {
    color: #636363;
}

.ui.massive.inverted.segment.profile-segment {
    line-height: 2.5rem;
    background-color: #FFFFFF;
    color: #212121;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0px 3px 1px 0px rgba(34,36,38,.12), 0px 2px 4px 0px rgba(34,36,38,.15);
    transition: transform 0.7s;
}

.ui.massive.inverted.segment.profile-segment:hover {
    transform: scale(1.01);
}

.ui.massive.inverted.segment.profile-segment-header {
    line-height: 2.5rem;
    background-color: #FFFFFF;
    color: #212121;
    font-weight: 100;
    font-size: 1.5rem;
    box-shadow: 0px 3px 1px 0px rgba(34,36,38,.12), 0px 2px 4px 0px rgba(34,36,38,.15);
    /* transition: transform 0.7s; */
}

.ui.massive.inverted.segment.profile-segment-header:hover {
    /* transform: scale(1.01); */
}

.ui.star.small.disabled.rating.profile-rating i.icon {
    color: #FFD166;
}