.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #e74c3d!important;
}
.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #e74c3d!important;
}

.ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label:before {
    background-color: #2185d0 !important;
    border: none;
}

.ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label:hover::before {
    background-color: #2185d0 !important;
    border: none;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background-color: #2185d0 !important;
}

.ui.styled.accordion .active.title {
    background: #F7f7f7;
    color: rgba(0,0,0,.95);
}

.ui.styled.accordion .accordion .active.title, .ui.styled.accordion .accordion .title:hover, .ui.styled.accordion .active.title, .ui.styled.accordion .title:hover {
    background: 0 0;
    color: #2185d0;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
    color: #212121;
    background: #f7f7f7 !important;
    /* color: #212121 !important; */
}