.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #e74c3d!important;
}
.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #e74c3d!important;
}

.ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label:before {
    background-color: #2185d0 !important;
    border: none;
}

.ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label:hover::before {
    background-color: #2185d0 !important;
    border: none;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background-color: #2185d0 !important;
}

.ui.styled.accordion .active.title {
    background: #F7f7f7;
    color: rgba(0,0,0,.95);
}

.ui.styled.accordion .accordion .active.title, .ui.styled.accordion .accordion .title:hover, .ui.styled.accordion .active.title, .ui.styled.accordion .title:hover {
    background: 0 0;
    color: #2185d0;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
    color: #212121;
    background: #f7f7f7 !important;
    /* color: #212121 !important; */
}

.ui.visible.left.sidebar~.pusher {
    -webkit-transform: translate3d(110px,0,0);
    transform: translate3d(110px,0,0);
}

.ui.tabular.menu .active.item {
    background: #4a4a4a;
    color: #00d5d5;
    border: 0;
    /* border-color: #d4d4d5; */
    font-weight: 700;
    /* margin-bottom: -1px; */
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: .28571429rem .28571429rem 0 0!important;
}

.ui.tabular.menu .item {
    color: #00d5d5;
    font-weight: 300;
}

.ui.tabular.menu .item:hover {
    color: #00d5d5;
    font-weight: 600;
}

.ui.attached.tabular.menu {
    background-color: #212121;
    border: 0;
}

.ui.bottom.attached.segment.active.tab {
    height: 78.4vh;
    background-color: #4a4a4a;
    border: 0;
}

img.ui.image.trials-player-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -moz-box-shadow: 4px 6px 5px 0px #bdb7bd;
    border: 2px solid #9a9a9a;
}

.ui.grid.profile-panels .two.wide.column {
    padding-right: 0;
    width: 9.5% !important;
}
.ui.grid.profile-panels .stretched.fourteen.wide.column {
    padding-left: 0;
    width: 90.5%!important;
}

.ui.grid.profile-panels .ui.bottom.attached.segment.active.tab {
    padding: 0;
}

.ui.grid.profile-panels .ui.borderless.vertical.left.attached.left.tabular.menu {
    height: 85vh;
}

.ui.vertical.tabular.menu .item:hover {
    border-right: solid 4px #F5F5F5;
}

.accordion.ui.styled.fireteams-form-accordion {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.overview-tabs .ui.tabular.menu .active.item {
    margin-bottom: 13px;
}

.ui.segment.stat-card-subheader {
    margin: 0;
    height: 100px !important;
}

/* Mobile only branding */
@media only screen and (max-width: 767px) and (min-width: 320px) {
    .accordion.ui.styled.fireteams-form-accordion {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

