.home-page {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.header-link {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 113%;
    margin: -14px 7px;
    font-size: 2em;
    
}

.header-link-text {
    font-size: 18px;
    color: #f5f5f5;
}

.ui.two.column.grid.home-columns {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 260px;
    right: 50px;
}

a.ui.card.home-tile-card {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    /* -webkit-transform: rotate(+45deg);
    -moz-transform: rotate(+45deg);
    -ms-transform: rotate(+45deg);
    -o-transform: rotate(+45deg);
    transform: rotate(+45deg); */

    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    background-color: transparent;
    border: #f5f5f5 solid 1px;
    

    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform, text-shadow;
    transition-property: box-shadow, transform, text-shadow;
}

a.ui.card.home-tile-card:hover {
    background-color: transparent;
    border: silver solid 1px;
    /* -webkit-transform: translateY(+45deg);
    -ms-transform: translateY(+45deg);
    transform: rotate(+45deg) scale(1.1);
    transform: rotate(+45deg); */
    box-shadow: 0 0 15px #f5f5f5;
    text-shadow: 0 0 15px #f5f5f5;
    
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.home-tile-icon {
    color: #f5f5f5;    
    height: 115px;
    text-align: center;
    line-height: 55px;
}

.home-tile-content {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 16px 31px 0px 0px;
}

.home-tile-content:hover {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); 
}


.ui.column.grid>[class*="three wide computer"].column, .ui.grid>.column.row>[class*="three wide computer"].column, .ui.grid>.row>[class*="three wide computer"].column, .ui.grid>[class*="three wide computer"].column {
    width: 20%!important;
}

.home-tile-icon.i {
    display: inline-block;
    vertical-align: text-top !important;    
    font-size:  5em !important;
}

.home-tile-text {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 200;
}

.header.home-tile-text-header {
    color: #f5f5f5 !important;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    
}

.description.home-tile-text-body {
    color: #c1c1c1 !important;
    text-align: center;
}

i.massive.icon, i.massive.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 6em;
}

.scroll-icon {
    cursor: pointer;
    color: #d4d4d5;
    text-shadow: 0px 15px 0px #f5f5f5;
    font-size: 5em !important;
    margin-bottom: 5px !important;
}
.scroll-icon:hover {
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 0 0 15px #f5f5f5;
    
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.ui.text.menu {
    margin-top: 0;
    position: relative;
    bottom: 37px;
}

/* Mobile Theming */
@media only screen and (max-width: 767px) and (min-width: 320px) {
    a.ui.card.home-tile-card {
        min-width: 130px;
        min-height: 130px;
        max-width: 130px;
        max-height: 130px;
        margin-top: 10%;
        margin-left: 10%;
    }

    .ui.two.column.grid.home-columns {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: -30px;
        left: 23px;
    }

    .row.row2 {
        margin-top: -19px;
    }

    .row.row1 {
        margin-bottom: -10px;
    }

    .ui.text.menu {
        position: relative;
        bottom: 100px;
    }

    /* .ui.column.grid>[class*="three wide computer"].column, .ui.grid>.column.row>[class*="three wide computer"].column, .ui.grid>.row>[class*="three wide computer"].column, .ui.grid>[class*="three wide computer"].column {
        width: 40%!important;
    } */

    .three.wide.computer.eight.wide.mobile.column {
        width: 36% !important;
    }

    .home-tile-icon.i {
        display: inline-block;
        vertical-align: text-top !important;    
        font-size:  5em !important;
    }

    .home-tile-icon {        
        color: #f5f5f5;    
        height: 70px;
        text-align: center;
        line-height: 60px;
    }

    .home-tile-text {
        color: #f5f5f5;
        font-size: 1.5em;
        font-weight: 200;
    }

    .header.home-tile-text-header {
        color: #f5f5f5 !important;
        text-align: center;
        font-weight: 300;
        font-size: 1.5em;       
    }

    .description.home-tile-text-body {
        color: #c1c1c1 !important;
        text-align: center;
    }

    i.massive.icon, i.massive.icons {
        line-height: 1;
        vertical-align: middle;
        font-size: 3em;
    }

    .home-tile-content {
        margin: 4px 32px 0px 0px;
    }
    .home-tile-content.row2 {
        margin: 0 0px 0 -32px;
    }

    a.ui.card.home-tile-card.row2-1 {
        margin-top: 10%;
    }
    a.ui.card.home-tile-card.row2-2 {
        margin-top: 10%;
    }
}

.ui.input input {    
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
}

input[type=text]:focus {
    background: transparent !important;
    color: #f5f5f5 !important;
}

.ui.compact.inverted.vertical.labeled.icon.ui.slide.along.left.very.thin.visible.sidebar.content-sidebar.menu {
    width: 58px !important;
}