body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.segment.pushable {
  height: 100vh;
}

button.ui.circular.icon.left.floated.button.menu-icon {
  position: relative;
  bottom: 25px;
}